@import "../assets/styles/main";

.category_name {
  padding: 8px;
  font-weight: bold;
  line-height: 1.43;
  color: $black;
  cursor: pointer;
}

.sub_categories {
  padding: 0 8px;
}

.open_category {
  margin-top: 2px;
  padding-bottom: 16px;
  box-shadow: 0 1px 3px 0 $light-black;
  background-color: $gray-1;
}

.hide {
  display: none;
}
