@import "../assets/styles/main";

.sub_category_name{
  @extend .small;
  @extend .bold;
  display: flex;
  align-items: center;
  padding: 4px 0px;
  color: $black;
  cursor: pointer;
}

.sub_category_name_hover {
  background-color: #ecedee;
}

.sub_category_name:hover, .category_name:hover {
    background-color: #ecedee;
  }
