.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.Filtering {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.MapNavigation {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}
